@import "appicon.less";
@import "window.less";
@import "desktop.less";
@import "trash.less";
@import "header.less";
@import "search-bar.less";
@import "login.less";
@import "flip.less";
@import "applink.less";
@import "animate-time.less";

html, body {
  font-family: arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size:12px;
  margin:0;
  padding:0;
  background: url(img/wallpaper.jpg) no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  min-width: 800px;
  min-height: 600px;
}

div.application, div.applist {
  background: inherit;
  height: 0px;
}

.top-corner-logo {
  position: fixed;
  right: 1vh;
  top: 0.9vh;
  img {
    width: 36px;
  }
}

.ui_maskLayer {
  opacity: 0;
  z-index: 9000000;
  display: none;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  .ui_maskLayerBody {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}
