.background-image {
  background:url(../img/wallpaper.jpg);
  background: black;
  background-size:100% 100%;
  background-repeat:no-repeat;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
