.nav {
position: absolute;
width: 100%;
height: 45px;
/* background-color: rgba(51, 204, 255, 0.5); */
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
justify-content: space-between;
list-style-type: none;
padding: 0px;
margin: 0px;
background: #86cce8;
background: -moz-linear-gradient(top, #86cce8 0%, #00a4ea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86cce8), color-stop(100%,#00a4ea));
background: -webkit-linear-gradient(top, #86cce8 0%,#00a4ea 100%);
background: -o-linear-gradient(top, #86cce8 0%,#00a4ea 100%);
background: -ms-linear-gradient(top, #86cce8 0%,#00a4ea 100%);
background: linear-gradient(to bottom, #00B7FF 0%,#003D57 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86cce8', endColorstr='#00a4ea',GradientType=0 );
box-shadow: 0 0 15px white;
  li {
    margin: 0;
    padding-top: 0.2vh;
    height: 100%;
    span {
      display: block;
      position: relative;
      top: 46%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: white;
    }
  }
  .logo {
    margin-left: 2vw;
    font-size: 20px;
    font-weight: bold;
  }
  .login {
    margin-right: 60px;
    margin-top: 1px;
    font-weight: bold;
    span {
      font-size: 17px;
      a {
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }

  }
}

/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn {
        /* CSS needed for animation
        ---------------------------------------------------- */
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
}
.fadeIn-20ms {
        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;
}
.fadeIn-50ms {
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
        -o-animation-duration:0.5s;
        animation-duration:0.5s;
}
.fadeIn-100ms {
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s;
}
.fadeIn-150ms {
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
        -o-animation-duration:1.5s;
        animation-duration:1.5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-20ms {
        -webkit-animation-delay:0.2s;
        -moz-animation-delay:0.2s;
        -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
.fadeIn-Delay-50ms {
        -webkit-animation-delay:0.5s;
        -moz-animation-delay:0.5s;
        -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
.fadeIn-Delay-100ms {
        -webkit-animation-delay:1s;
        -moz-animation-delay:1s;
        -o-animation-delay:1s;
        animation-delay:1s;
}
.fadeIn-Delay-150ms {
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
        -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
.fadeIn-Delay-200ms {
        -webkit-animation-delay:2s;
        -moz-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
}
