.nav {
position: absolute;
width: 100%;
height: 5.2%;
/* background-color: rgba(51, 204, 255, 0.5); */
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
justify-content: space-between;
list-style-type: none;
padding: 0px;
margin: 0px;
background: #86cce8;
background: -moz-linear-gradient(top, #86cce8 0%, #00a4ea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86cce8), color-stop(100%,#00a4ea));
background: -webkit-linear-gradient(top, #86cce8 0%,#00a4ea 100%);
background: -o-linear-gradient(top, #86cce8 0%,#00a4ea 100%);
background: -ms-linear-gradient(top, #86cce8 0%,#00a4ea 100%);
background: linear-gradient(to bottom, #00B7FF 0%,#003D57 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86cce8', endColorstr='#00a4ea',GradientType=0 );
box-shadow: 0 0 15px white;
  li {
    margin: 0;
    padding-top: 0.2vh;
    height: 100%;
    span {
      display: block;
      position: relative;
      top: 46%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: white;
    }
  }
  .logo {
    margin-left: 2vw;
    font-size: 2.5vh;
    font-weight: bold;
  }
  .login {
    margin-right: 60px;
    margin-top: 1px;
    font-weight: bold;
    span {
      font-size: 17px;
    }

  }
}
