
.ripple{
  border-radius:2px;
  opacity: 0.4;
  width:2px;
  height:2px;
  -webkit-animation:rip 1s;
  -moz-animation:rip 1s;
  z-index:-1;
  position:absolute;
  top: 30px;
  left: 40px;
}

@-webkit-keyframes rip
{
  0%  {
    box-shadow:0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 25px transparent,
    0 0 0 27px rgba(255,255,255,0.3),
    0 0 0 28px transparent,
    0 0 0 30px rgba(0,0,0,0.3);
  }
  100% {
    box-shadow:0 0 40px 120px transparent,
    0 0 10px 120px transparent,
    0 0 30px 120px transparent,
    0 0 5px 120px transparent;
  }
}
@-moz-keyframes rip
{
  0%  {
    box-shadow:0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 25px transparent,
    0 0 0 27px rgba(255,255,255,0.3),
    0 0 0 28px transparent,
    0 0 0 30px rgba(0,0,0,0.3);
  }
  100% {
    box-shadow:0 0 40px 120px transparent,
    0 0 10px 120px transparent,
    0 0 30px 120px transparent,
    0 0 5px 120px transparent;
  }
}
