<div class="effect fadeIn fadeIn-50ms fadeIn-Delay-100ms"></div>
<div class="app-edge fadeIn fadeIn-50ms fadeIn-Delay-100ms"></div>
<div class="app-img fadeIn fadeIn-50ms fadeIn-Delay-100ms"></div>
<div class="app-text fadeIn fadeIn-50ms fadeIn-Delay-100ms">{{unbound view.content.app_name}},{{view.col}},{{view.row}},{{view.scr}}</div>
