<!-- DESKTOP -->
<div class="background-image"></div>

<div id="page" class="vis">

{{outlet header}}

{{render searchBar}}

{{outlet applist}}

<div class="right-corner-logo">
  <img src="assets/img/gausian_logo.png" >
</div>

</div>
