<!-- DESKTOP -->
<div class="background-image"></div>

<div id="page" class="vis">

{{outlet header}}


{{render 'applist' content.applist}}

<div class="trash">
  <i class="fa fa-trash-o fa-5x"></i>
</div>

</div>
