<ul class="nav">
  <li class="logo">
    <span>Your Enterprise Name Here</span>
  </li>
  <li class="dock">

  </li>
  <li class="login">
    <span>
      <a>Sign up</a> / <a>Log in</a>
    </span>
  </li>
</ul>
