<ul class="nav">
  <li class="logo">
    <span>GAUSIAN Enterprise Desktop</h3>
  </li>
  <li class="dock">

  </li>
  <li class="login">
    <span>
      <a>Sign Up</a> / <a>Log In</a>
    </span>
  </li>
</ul>
