<div class="left">
  <nav id="menu">
    <ul>
      <li><a href="#all" class="font-bold">Your Company Name</a></li>
      <li><a href="#all">Sign up</a></li>
    </ul>
  </nav>
</div>

<!-- DOCK -->
<div class="before empty"></div>

<div class="dock">
  <ul>

  </ul>
</div>
<div class="after empty"></div>

<div class="right">
  <nav id="menu-dx">
    <ul>
      <li class="username">
        <a href="#all">Downloads</a>
      </li>
      <li class="username">
        <a href="#all">Systems</a>
      </li>
    </ul>
  </nav>
</div>
<div class="sync"></div>
<div style='clear:left;'></div>
