<ul class="nav fadeIn fadeIn-50ms fadeOut fadeOut-50ms">
  <li class="logo fadeIn fadeIn-50ms">
    <span>Your Enterprise Name Here</span>
  </li>
  <li class="dock fadeIn fadeIn-50ms">

  </li>
  <li class="login fadeIn fadeIn-50ms">
    <span>
      <a {{action 'loginShow'}}>Sign up / Log in</a>
    </span>
  </li>
</ul>
