<div class="overlay">
  <i class="icon-remove modal-close" {{action 'loginClose'}}></i>
  <div class="modal fadeIn fadeIn-50ms">
    <div class="background-image"></div>
    <div class="flip-container fadeIn fadeIn-100ms">
      <div id="flipper" class="">
        <div class="front">
          <div class="badge_band_right"></div>
          <div class="badge_band_left"></div>
          <div class="badge_band_left_shadow"></div>
          <div class="badge_band_end"></div>
          <a href="http://www.gausian.com">
            <div class="badge_buckle">
              <img class="logo_img" src="assets/img/GAUSIAN_logo.png">
            </div>
          </a>
          <div class="badge_buckle_shadow"></div>
          <div id="badge_container">
            <div class="up_container">
              <img class="up_img" src="assets/img/einstein.png" onclick="
                flipper.classList.toggle('flipped');
                document.getElementById('visitor_container').style.opacity=0;
                document.getElementById('sign_container').style.opacity=0;
                document.getElementById('portrait_container').style.opacity=1;
                ">
              <div id="up_hole"></div>
            </div>
            <div class="down_container">
              <div class="company_name">
                Your Company Name
              </div>
              <input class="email_input" type="text" name="Email" placeholder="Email" autofocus="">
              <input class="pw_input" type="text" name="Password" placeholder="Password">
              <a href="http://yubin.github.io/web_desktop">
                <div class="login_bn">Login</div>
              </a>
              <div class="sign_bn fadeIn fadeIn-100ms fadeIn-Delay-50ms" onclick="
                flipper.classList.toggle('flipped');
                document.getElementById('visitor_container').style.opacity=0;
                document.getElementById('sign_container').style.opacity=1;
                document.getElementById('portrait_container').style.opacity=0;
                ">
                Sign up
              </div>
              <div class="visitor_bn fadeIn fadeIn-100ms fadeIn-Delay-50ms" onclick="
                flipper.classList.toggle('flipped');
                document.getElementById('visitor_container').style.opacity=1;
                document.getElementById('sign_container').style.opacity=0;
                document.getElementById('portrait_container').style.opacity=0;
                ">
                I'm a Visitor
              </div>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="badge_band_right"></div>
          <div class="badge_band_left"></div>
          <div class="badge_band_left_shadow"></div>
          <div class="badge_band_end"></div>
          <div class="badge_buckle"></div>
          <div class="badge_buckle_back"></div>
          <div class="badge_buckle_shadow"></div>
          <div id="badge_container">
            <div class="up_container">
              <img class="up_img" src="assets/img/empty.png">
              <div id="up_hole"></div>
            </div>
            <img class="return_icon" src="assets/img/return.png" onclick="flipper.classList.toggle('flipped');">
            <div class="down_container"></div>
            <div id="sign_container" style="opacity: 0;">
              <div class="back_container_header">Sign up</div>
              <input class="back_container_input_first" type="text" placeholder="First">
              <input class="back_container_input_last" type="text" placeholder="Last">
              <input class="back_container_input_email" type="text" placeholder="Email">
              <input class="back_container_input_company" type="text" placeholder="Full Company Name">
              <input class="back_container_input_pw" type="password" placeholder="Password">
              <a href="http://yubin.github.io/web_desktop">
                <div class="back_container_sign">Sign</div>
              </a>
              <div class="back_container_invite">Invite</div>
            </div>
            <div id="visitor_container" style="opacity: 0;">
              <div class="back_container_header">Visitor to</div>
              <div class="back_container_visitor_company_name">You Company Name</div>
              <input class="back_container_visitor_first" type="text" placeholder="First">
              <input class="back_container_visitor_last" type="text" placeholder="Last">
              <input class="back_container_visitor_email" type="text" placeholder="Email">
              <input class="back_container_visitor_security" type="text" placeholder="Invitation Code">
              <a href="http://yubin.github.io/web_desktop">
                <div class="back_container_enter">Enter</div>
              </a>
            </div>
            <div id="portrait_container" style="opacity: 1;">
              <div class="back_container_header">Change Portrait</div>
              <div class="portrait_container">
                <img class="portrait_img" src="assets/img/einstein_5.png">
              </div>
              <input class="portrait_email" type="text" placeholder="Email">
              <input class="portrait_pw" type="password" placeholder="Password">
              <div class="portrait_apply">Apply New Portrait</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
