<div class="jspCap jspCapTop"></div>
<div class="jspTrack" {{bind-attr style="view.trackStyle"}}>
  {{view 'scroll-bar-handler' len=view.handlerLen top=view.handlerTop}}
</div>
<div class="jspCap jspCapBottom"></div>
