<div class="search">
  <div class="search-icon"></div>
  {{input type="text" placeholder="Search" disabled=true}}
</div>

<div class="overlay">
  <div class="modal">
    {{input type="text" value=view.query}}
    <div class="container">
    {{view 'search-results' content=view.searchContent}}

    {{view 'scroll-bar' trackLen=view.trackLen  handlerLen=view.handlerLen handlerTop=view.handlerTop}}
    </div>
  </div>
</div>
