<div class="header">
<h1 class="titleInside">{{view.content.name}}</h1>
</div>
<nav class="control-window">
  <a href="#" class="minimize" {{action 'minimizeApp'}}>minimize</a>
  <a href="#" class="maximize" {{action 'maximizeApp'}}>maximize</a>
  <a href="#" class="close" {{action 'closeApp' view.content target=view.parentView}}>close</a>
</nav>
<div class="container">
  <div class="container-inside">
    <iframe scrolling="no" frameborder="0" allowtransparency="true" src="" class="" title="" data-twttr-rendered="true" style="width: 109px; height: 20px;">
    </iframe>
  </div>
</div>
